@page
@model Initiatives.Pages.EngagementTypes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>EngagementType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EngagementType.EngagementTypeShortDescription" class="control-label"></label>
                <input asp-for="EngagementType.EngagementTypeShortDescription" class="form-control" />
                <span asp-validation-for="EngagementType.EngagementTypeShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngagementType.EngagementTypeDescription" class="control-label"></label>
                <input asp-for="EngagementType.EngagementTypeDescription" class="form-control" />
                <span asp-validation-for="EngagementType.EngagementTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngagementType.ModifiedUserName" class="control-label"></label>
                <input asp-for="EngagementType.ModifiedUserName" class="form-control" />
                <span asp-validation-for="EngagementType.ModifiedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngagementType.LastModifiedDate" class="control-label"></label>
                <input asp-for="EngagementType.LastModifiedDate" class="form-control" />
                <span asp-validation-for="EngagementType.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EngagementType.IsActive" /> @Html.DisplayNameFor(model => model.IsActive))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
