@page "{id:int?}"
@using Microsoft.AspNetCore.Http
@model Initiatives.Pages.Notes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="well">
            
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Note.InitiativeId" value="@this.Model.InitativeId"/>
                <input type="hidden" asp-for="Note.UserName" value="@this.User.Identity.Name" />
                <input type="hidden" asp-for="Note.ModifiedUserName" value="@this.User.Identity.Name" />
                <div class="form-group">
                    <label asp-for="Note.Note1" class="control-label"></label>
                    <textarea asp-for="Note.Note1" class="form-control" rows="5" cols="40"></textarea>
                    <span asp-validation-for="Note.Note1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default btn-xs" />
                </div>
            </form>
            </div>
        </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
