@page
@model Initiatives.Pages.Resources.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Architect</h4>


<hr />
<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="well well-sm">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Resource.ModifiedUserName" value="@this.User.Identity.Name" />
                <div class="form-group">
                    <label asp-for="Resource.FirstName" class="control-label"></label>
                    <input asp-for="Resource.FirstName" class="form-control" />
                    <span asp-validation-for="Resource.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Resource.LastName" class="control-label"></label>
                    <input asp-for="Resource.LastName" class="form-control" />
                    <span asp-validation-for="Resource.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default btn-xs" />
                </div>
            </form>
        </div>
        </div>
    </div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
