@page
@model Initiatives.Pages.SolutionTypes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SolutionType</h4>
<hr />
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well well-lg">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SolutionType.SolutionTypeShortDescription" class="control-label"></label>
                    <input asp-for="SolutionType.SolutionTypeShortDescription" class="form-control" />
                    <span asp-validation-for="SolutionType.SolutionTypeShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SolutionType.SolutionTypeDescription" class="control-label"></label>
                    <input asp-for="SolutionType.SolutionTypeDescription" class="form-control" />
                    <span asp-validation-for="SolutionType.SolutionTypeDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="SolutionType.IsActive" /> @Html.DisplayNameFor(model => model.SolutionType.IsActive)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default btn-xs" />
                </div>
            </form>
        </div>
        </div>
    </div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
