@page
@model Initiatives.Pages.Initiatives.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Initiative</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Initiative.EngagementName" class="control-label"></label>
                <input asp-for="Initiative.EngagementName" class="form-control" />
                <span asp-validation-for="Initiative.EngagementName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.EngagementIdentifier" class="control-label"></label>
                <input asp-for="Initiative.EngagementIdentifier" class="form-control" />
                <span asp-validation-for="Initiative.EngagementIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.EngagementTypeId" class="control-label"></label>
                <select asp-for="Initiative.EngagementTypeId" class ="form-control" asp-items="ViewBag.EngagementTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.SolutionTypeId" class="control-label"></label>
                <select asp-for="Initiative.SolutionTypeId" class ="form-control" asp-items="ViewBag.SolutionTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.LocationId" class="control-label"></label>
                <select asp-for="Initiative.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Initiative.PHI" /> @Html.DisplayNameFor(model => model.PHI))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Initiative.PCI" /> @Html.DisplayNameFor(model => model.PCI))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.UpStreamSystem" class="control-label"></label>
                <input asp-for="Initiative.UpStreamSystem" class="form-control" />
                <span asp-validation-for="Initiative.UpStreamSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.DownStreamSystem" class="control-label"></label>
                <input asp-for="Initiative.DownStreamSystem" class="form-control" />
                <span asp-validation-for="Initiative.DownStreamSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.ProjectStartDate" class="control-label"></label>
                <input asp-for="Initiative.ProjectStartDate" class="form-control" />
                <span asp-validation-for="Initiative.ProjectStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.ARBDate" class="control-label"></label>
                <input asp-for="Initiative.ARBDate" class="form-control" />
                <span asp-validation-for="Initiative.ARBDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.Resource" class="control-label"></label>
                <select asp-for="Initiative.Resource" class ="form-control" asp-items="ViewBag.Resource"></select>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.ReceiveDate" class="control-label"></label>
                <input asp-for="Initiative.ReceiveDate" class="form-control" />
                <span asp-validation-for="Initiative.ReceiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.StartDate" class="control-label"></label>
                <input asp-for="Initiative.StartDate" class="form-control" />
                <span asp-validation-for="Initiative.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.CompleteDate" class="control-label"></label>
                <input asp-for="Initiative.CompleteDate" class="form-control" />
                <span asp-validation-for="Initiative.CompleteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.ModifiedUserName" class="control-label"></label>
                <input asp-for="Initiative.ModifiedUserName" class="form-control" />
                <span asp-validation-for="Initiative.ModifiedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.LastModifiedDate" class="control-label"></label>
                <input asp-for="Initiative.LastModifiedDate" class="form-control" />
                <span asp-validation-for="Initiative.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Initiative.IsActive" /> @Html.DisplayNameFor(model => model.IsActive))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
